.cards{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-backgrounds{
    background-color: #8BD7D2;
}

.title-active{
    color: black;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.title-inactive{
    color: #e0dddc;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}