.custom-table{
    font-size: 10px !important;
    font-weight: bold;
    vertical-align: middle;
}

.react-bootstrap-table {
    height: 430px;
  }
  
.custom-table-button{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.custom-icon-promotion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
}

.pagination{ 
    float: right!important 
}

.react-bootstrap-table-page-btns-ul{
    float: right!important
}