.custom-button-active{
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;    
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    width: 122px;
}

.custom-button-inactive{
    background-color: #99c2ff;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;    
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    width: 122px;
}

.custom-button-active-promo-item{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
}