p.title-active{
    color: black;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

p.title-inactive{
    color: #e0dddc;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

p.x-small{
    color: black;
    font-size: 12px;
}

p.promotion-search{
    margin: auto;
    width: 50%;
    font-size: 14px;
    vertical-align: baseline;
    margin-top:9px;
}

p.add-promotion-text{
    font-size: 17px !important;
}

p.add-promotion-text-required{
    font-size: 17px !important;
}

p.add-promotion-text-required::after{
    font-size: 17px !important;
    content: '*';
    color: red;
}